@import '~vuetify/dist/vuetify.min.css';
@import '~material-icons/iconfont/material-icons.css';

a {
    text-decoration: none !important;
}

.v-navigation-drawer {
    a {
        color: inherit;
    }
}

.italic {
    font-style: italic !important;
}

.bold {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table td {
    vertical-align: top !important;
    border-bottom: solid 1px #dbdbdb;
    padding: .5em .75em;
}
