@import '~vuetify/dist/vuetify.min.css';
@import '~material-icons/iconfont/material-icons.css';

a {
    text-decoration: none !important;
}

.italic {
    font-style: italic !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table td {
    vertical-align: top !important;
    border-bottom: solid 1px #dbdbdb;
    padding: .5em .75em;
}
